In [7]:
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine
import pymysql

In [3]:
# user = "root"
# password = "1234"
# host = "localhost"
# port = "3306"
# dbname = "stocks"

engine = create_engine(f"mysql+pymysql://root:1234@localhost/stock_prices")

In [11]:
## insert multiple records from a Pandas df

data = [
    [1, "CoolCompany", 57.26],
    [2, "Name2", 99.99],
    [3, "Name3", 24],
    [4, "name4", 300]
]

df = pd.DataFrame(data, columns = ['id','name','price'])

In [12]:
df

   id         name   price
0   1  CoolCompany   57.26
1   2        Name2   99.99
2   3        Name3   24.00
3   4        name4  300.00

In [15]:
df.to_sql('stocks', con = engine, if_exists = 'append', chunksize = 1000, index = False)

# df.to_sql('stocks', con = engine, if_exists = 'replace', chunksize = 1000, index = False)

In [16]:
## create connection
conn = pymysql.connect(host='localhost',
                        user='root',
                        password='1234',
                        db='stock_prices')

# Create cursor
my_cursor = conn.cursor()

# Execute Query
my_cursor.execute("SELECT * from stocks")

# Fetch the records
result = my_cursor.fetchall()

for i in result:
    print(i)

# Close the conn
conn.close()

(1, 'CoolCompany', 57.26)
(2, 'Name2', 99.99)
(3, 'Name3', 24.0)
(4, 'name4', 300.0)